<!doctype html>
<html>
  <head>
    <title>Home</title>
    <style>
      a {
        text-decoration: none;
        
      }
      html, body {
        background-color: rgb(196, 216, 233);
        height: 500%;
        margin: 0;
        padding: 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
      }
      h1 {
        font-size: 300%;
      }
    </style>
  </head>
  <body>
    <h1 align="center"><a href="/search">Welcome to the world of POKEMON!</a></h1>
  </body>
</html>
